


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #f8f8f8;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    color: #e74c3c;
}


.articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px;
    padding: 10px;
}

.article {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.article-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.article:hover .article-image {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


.article a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
   
   
}

